/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7eaafc;
  --ifm-color-primary-dark: #7eaafc;
  --ifm-color-primary-darker: #7eaafc;
  --ifm-color-primary-darkest: #7eaafc;
  --ifm-color-primary-light: #6aa0ff;
  --ifm-color-primary-lighter: #79abff;
  --ifm-color-primary-lightest: #a6cafa;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6EC5FF;
  --ifm-color-primary-dark: #53b9ff;
  --ifm-color-primary-darker: #45b3ff;
  --ifm-color-primary-darkest: #1a9fff;
  --ifm-color-primary-light: #89d0ff;
  --ifm-color-primary-lighter: #97d6ff;
  --ifm-color-primary-lightest: #c2e5ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Navbar Customization */
.navbar__link {
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.navbar__link:hover {
  background-color: var(--ifm-color-primary-lightest);
  color: #fff !important;
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 5px;
}

.navbar__link--active {
  background-color: var(--ifm-color-primary);
  color: #fff !important;
  border-radius: 10px;
  text-decoration: none;
  padding-top: 2px;
  padding-bottom: 5px;
}